<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Hardine File Sharing Home</title>
</head>
<body>
    <% if (locals.user) { %>
        <h1>Hello <%= user.firstName %>!</h1>
        <a href="/log-out"><button>LOG OUT</button></a>
        <br>
        <br>
        <form action="/upload" method="post">
            <input type="hidden" value=<%= currentFolderId %> name="currentFolderId">
            <input type="hidden" value=<%= currentUrl %> name="currentUrl">
            <button>Upload File Here WITH POST METHOD</button>
        </form>
        <h3>Current folder: <%= currentFolderName %></h3>
        <% if (locals.nextFoldersInfo) { %>
            <ul>
                <% nextFoldersInfo.forEach(nextFolder => { %>
                    <li><a href="/dashboard/<%= nextFolder.id %>">FOLDER: <%= nextFolder.folderName %></a></li>
                <% }) %>
            </ul>
        <% } %>
        <% if (locals.uploadedFiles) { %>
            <ul>
                <% uploadedFiles.forEach(uploadedFile => { %>
                    <li><a href="/download/<%= uploadedFile.id %>"><%= uploadedFile.originalFileName %></a></li>
                <% }) %>
            </ul>
        <% } %>
        <form action="/create-folder" method="post">
            <input type="hidden" value=<%= currentFolderId %> name="currentFolderId">
            <input type="hidden" value=<%= currentUrl %> name="currentUrl">
            <button>CREATE FOLDER</button>
        </form>
    <% } %>
</body>
</html>